<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">smol</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls"><%= lang.headerMyURLs %></a>
        <a class="nav-item nav-link" href="/urls/new"><%= lang.headerNewURLs %></a>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Language
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <form method="POST" action="/lang">
            <button class="dropdown-item" type="submit" name="language" value="en">English</button>
            <button class="dropdown-item" type="submit" name="language" value="cat">Català</button>
            <button class="dropdown-item" type="submit" name="language" value="es">Español</button>
            <button class="dropdown-item" type="submit" name="language" value="pt">Português</button>
            <button class="dropdown-item" type="submit" name="language" value="ja">한국 의</button>
            <button class="dropdown-item" type="submit" name="language" value="ko">日本語</button>
            <button class="dropdown-item" type="submit" name="language" value="vi">Tiếng Việt</button>
          </form>
        </div>
    </div>
    </div>
    <div>
      <% if (!user) { %>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/login"><%= lang.login %></a>
        <a class="nav-item nav-link" href="/register"><%= lang.register %></a>
      </div>
      <% } else { %>
      <form method="POST" action="/logout">
      <%= user.email %>
        <button type="submit"><%= lang.logout %></button>
      </form>
      <% } %>
    </div>
  </nav>
</header>